body{
    background-color: azure;
    font-size: 100%;
    margin: 1rem;
    padding: 1rem;
}

main {
    background-color: lightblue;
}

aside {
    background-color: lightskyblue;
}

header {
    display: flex;
    background-color: lightcyan;
    height: 3rem;
    align-items: center;
}

header div{
    flex: 1;
}
header nav{
    flex: 3 1 10%;
}

header ul {
    list-style: none;
    display: flex;
    margin:0;
}

header ul li {
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
}

header ul li a {
    text-decoration: none;
    height: 2rem;
}

header ul li:hover {
    background-color:darkcyan;
}

header ul li:hover a {
    color: white;
}

footer {
    clear: both;
    background-color:palegoldenrod;
}

