body{
    /* background-color: whitesmoke; */
    background-color: transparent;
    background-image: url('../pic/certificate-border-17.png');
    background-size: cover;
    background-repeat: no-repeat;
    align-self: auto;
    font-size: 100%;
    padding: 7%;
    font-family: 'Audiowide', cursive;
}
@import url('https://fonts.googleapis.com/css?family=Audiowide');
