body{
    background-color: linen;
    font-family: 'Inconsolata', monospace;
}
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #d1c3c3;
}

footer{
    clear: both;
    background-color:palegoldenrod;
}